
@media only screen and (min-width: 1200px) {
    #search-box {
        display: none;
    }

    .header {

        .navbar {

            &.navbar-default {

                .navbar-nav {

                    > li {

                         > a {
                            padding-left: 5px !important;
                            padding-right: 5px !important;
                         }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1299px) {
    .centers-single {

        .centre-wrap {

            .centre-tabs {
                padding-left: 20px;
                padding-right: 20px;

                .nav {

                    &.nav-tabs {

                        li {

                            a {
                                padding-right: 4px;
                                padding: 9px 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1200px) {
    
}
@media only screen and (max-width: 1199px) {
    .desktop-menu {
        display: none !important;
    }

    .mobile-menu {
        display: block !important;
    }
    .header_gutter {
        height: 110px;
    }

    .search-button.mobile-search {
        display: none;
    }

    .header {
        background: #9bd195;

        .top-bar {
            display: none;
        }

        .navbar {
            padding: 30px 0;

            &.navbar-default {

                .navbar-header {
                    transform: inherit;
                    width: 100%;

                    .social {
                        display: inline-flex !important;
                        top: calc(50% - 17px);
                        position: absolute;
                        right: 80px;

                        li {
                            padding: 0;

                            a, span {
                                width: 34px;
                                height: 34px;
                                display: flex;
                                cursor: pointer;
                                align-items: center;
                                border-radius: 50px;
                                justify-content: center;
                                background-color: #39696f;
                            }

                            &+li {
                                padding-left: 7px !important;
                            }
                        }
                    }
                    .navbar-brand {
                        transition: all .5s ease;
                        padding-top: 0;
                        transform: translateY(-5px);
                    }
                }

                .navbar-nav {

                    > li{

                        a {
                            padding-left: 7px;
                            padding-right: 7px;
                        }
                    }
                }
            }
        }

        &.sticky {

            .navbar {

                &.navbar-default {
                    padding: 20px 0;

                     .navbar-header {
                        transform: inherit;

                        .navbar-brand {
                            transform: translateY(3px);
                        }
                    }
                }
            }
        }
    }

    .navbar-collapse {
        border: 0;
        box-shadow: none;

        &.collapse {
            display: none!important;

            &.in {
            display: block!important;
            overflow: inherit;
            }

            &.collapsing {
            overflow: hidden!important;
            }
        }
    }

    // navbar toggle
    .navbar-toggle {
        margin: 0;
        display: block;
        border: 0;
        position: fixed;
        right: 10px;

        .icon-bar {
            margin: 0 auto;

            &:nth-child(1) {
                width: 30px;
            }
            &:nth-child(4) {        
                width: 30px;
            }
        }

        &:hover {

            .icon-bar {

                &:nth-child(1) {
                    -webkit-transform: translateY(-2px);
                    -moz-transform: translateY(-2px);
                    -ms-transform: translateY(-2px);
                    -o-transform: translateY(-2px);
                    transform: translateY(-2px);
                }
                &:nth-child(2) {
                    
                }
                &:nth-child(4) {        
                    -webkit-transform: translateY(2px);
                    -moz-transform: translateY(2px);
                    -ms-transform: translateY(2px);
                    -o-transform: translateY(2px);
                    transform: translateY(2px);
                }
            }
        }

        &:hover, &:focus {
            background-color: transparent !important;

            &:before {
                opacity: 1;
                -webkit-transform: translateX(0);
                -moz-transform: translateX(0);
                -ms-transform: translateX(0);
                -o-transform: translateX(0);
                transform: translateX(0);
            }
        }

        &.in {

            .icon-bar {
                -webkit-transition: -webkit-transform 150ms linear;
                transition: -webkit-transform 150ms linear;
                transition: transform 150ms linear;
                transition: transform 150ms linear, -webkit-transform 150ms linear;

                &:nth-child(2) {
                    -webkit-transform: translateY(4px);
                    -moz-transform: translateY(4px);
                    -ms-transform: translateY(4px);
                    -o-transform: translateY(4px);
                    transform: translateY(4px);

                    .inner {
                        -webkit-transform: rotate(45deg);
                        -moz-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        -o-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }
                }
                &:nth-child(1) {
                    opacity: 0;
                }
                &:nth-child(4) {
                    opacity: 0;
                }
                &:nth-child(3) {        
                    -webkit-transform: translateY(-4px);
                    -moz-transform: translateY(-4px);
                    -ms-transform: translateY(-4px);
                    -o-transform: translateY(-4px);
                    transform: translateY(-4px);

                    .inner {                            
                        -webkit-transform: rotate(-45deg);
                        -moz-transform: rotate(-45deg);
                        -ms-transform: rotate(-45deg);
                        -o-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                    }
                }
            }
        }

        .icon-bar {
            width: 40px;
            margin-bottom: 6px;
            background-color: transparent !important;
            -webkit-transition: -webkit-transform 150ms linear 150ms;
            transition: -webkit-transform 150ms linear 150ms;
            transition: transform 150ms linear 150ms;
            transition: transform 150ms linear 150ms, -webkit-transform 150ms linear 150ms;

            .inner {
                width: 100%;
                height: 3px;
                display: block;
                border-radius: 4px;
                background-color: #FBFAFB;
                -webkit-transition: background-color 150ms linear, opacity 0s linear 150ms, -webkit-transform 150ms linear;
                transition: background-color 150ms linear, opacity 0s linear 150ms, -webkit-transform 150ms linear;
                transition: transform 150ms linear, background-color 150ms linear, opacity 0s linear 150ms;
                transition: transform 150ms linear, background-color 150ms linear, opacity 0s linear 150ms, -webkit-transform 150ms linear;
            }
        }
    }

    #sidr-main {

        .sidr-inner {

            .top-bar {
                color: $white;
                padding: 16px 0;
                margin: 0 0 28px;
                padding-left: 13px;
                background: #323e48;
                display: block !important;

                ul {

                    li {
                        padding: 0 20px;

                        p {
                            display: inline-block;
                            font-family: $mel;
                            font-weight: 700;
                            @include letter-spacing(14, 40);
                            text-transform: uppercase;
                        }

                        span {
                            display: block;
                            font-weight: 400;
                            text-transform: uppercase;
                        }

                        a {
                            font-family: $mel;
                            font-size: 16px;
                            transition: all .5s ease;
                            font-weight: 700;
                            line-height: 30px;
                            color: $white;
                            text-transform: uppercase;
                            letter-spacing: 1.04px;

                            &:hover, &:focus{
                                color: $primary;
                            }
                        }
                    }
                }
            }

            .nav {

                &.navbar-nav {
                    margin-right: 15px;

                    &.navbar-right {
                        float: none !important;
                    }

                    >li {
                        padding-left: 7px;
                        padding-right: 7px;
                        float: none;

                        >a {
                            padding: 0 35px;
                            transition: all .5s ease;
                            font-family: $mel;
                            color: #47474c;
                            font-size: 18px;
                            font-weight: 700;
                            line-height: 48px;
                            text-transform: uppercase;
                            letter-spacing: 1.13px;

                            &:after {
                                width: 0;
                                height: 0;
                            }
                        }

                        &.active, &:hover, &:focus {

                            a {
                                background: transparent;

                                &:after {
                                    width: 0;
                                }
                            }
                        }

                        &:last-child {

                            a {
                                padding-right: 3px;
                            }
                        }

                        .dropdown-menu {

                            > li {

                                a {
                                    color: #47474c;
                                    font-family: $mel;
                                    font-size: 16px;
                                    font-weight: 400;
                                    line-height: 37px;
                                    text-transform: uppercase;
                                    letter-spacing: 1px;
                                    margin-left: 25px;
                                }
                            }
                        }

                        &.dropdown {

                            a {

                                &.dropdown-toggle {
                                    position: relative;

                                    &:before {
                                        transition: all .5s ease;
                                        position: absolute;
                                        content: "";
                                        top: calc(50% - 4px);
                                        right: 0;
                                        height: 8px;
                                        width: 12px;
                                        background: url('../images/svg/menu-arrow-down.svg');
                                    }
                                }
                            }

                            &.open {

                                a {

                                    &.dropdown-toggle {

                                        &:before {
                                            transform: rotate(180deg);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .header.sticky {

        #search-box {
            top: 90px;
        }
    }
    
    #search-box {
        position: absolute;
        right: 0;
        top: 110px;
        display: none;
        width: 100%;

        .input-group {
            width: 100%;

            .form-control {
                width: 100% !important;
                height: 39px;
                border: 0;
                box-shadow: none;
                border-radius: 0;
                border-bottom: 2px solid #e6eaee;
                padding-left: 40px !important;
                position: relative;
            }

            .input-group-btn {

                button {
                    border: 0;
                    height: 100%;
                    width: 30px;
                    position: absolute;
                    top: 0;
                    left: 11px;

                    img {
                        position: absolute;
                        z-index: 99;
                        top: calc(50% - 10px);
                        left: 10px;
                        max-width: 20px;
                    }
                }

                #close {
                    z-index: 999;

                    img {
                        position: absolute;
                        top: 0;
                        z-index: 999;
                        right: 30px;
                        height: 100%;
                    }
                }
            }
        }
    }

    .centers {

        .tab-content {

            .center {

                .center-info {
                    padding: 40px 25px;

                    li {

                        &.opening-hour {

                            .opening {
                                padding-left: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1023px) {

}

@media only screen and (min-width: 1024px) {
  
}
@media only screen and (max-width: 991px) {
    // services
    .services {

        .service {
            margin-top: 40px;

            .service-info {
            }

            &:hover, &:focus {
                transform: inherit;
            }
        }
    }

    .testimonials {
        
        .title {

            h2 {
                font-size: 34px;
            }
        }

        .testimonials-slider {

            .slick-slider-item {
                margin: 0 15px;
                padding: 55px 0;

                &.slick-center {

                    .testimonial-box {
                        transform: inherit;
                    }
                }
            }
        }

        .slick-dotted {

            &.slick-slider {
                margin-bottom: 0;
            }
        }
    }
    
    // Center Page
    .centers {

        .tab-content {

            .center {

                .no-padding-left {
                    padding: 0;
                }

                .center-info {
                    margin-top: -6px;
                }
            }
        }
    }
    .centers-single {

        .centre-wrap {

            .centre-tabs {
                margin: 30px 0 0;
                padding-left: 0;
                padding-right: 0;

                &:before {
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 0;
                }

                .tab-content {

                    .overview {

                        .testimonials-wrapper {

                            .testimonials {
                                padding: 35px 0 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .blog-page {

        .featured-post-area {
            padding: 45px 0 70px;

            .featured-post {

                .post {

                    .post-meta {
                        width: 50%;
                        padding: 5px 20px;
                        border-radius: 24px;

                        .title {
                            font-size: 36px;
                            font-weight: 700;
                            max-width: 100%;
                            line-height: 40px;
                            margin: 0 0 10px;
                        }

                        .read-more {
                            margin: 10px 0 0;
                        }
                    }

                    .post-img {
                        width: 50%;
                    }
                }
            }
        }
    }

    .about-us {

        .tab-content {
            padding-left: 30px;

            &:before {
                left: -25px;
            }
        }
    }

    .footer {

        .footer-bottom {
            margin-left: 0;
        }
    }
}


@media only screen and (max-width: 900px) {
    .centers-single {

        .centre-wrap {

            .centre-tabs {

                .nav{

                    &.nav-tabs {

                        li {

                            a {
                                padding-left: 18px;
                                padding-right: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    #gmap {

        .popup-bubble-content {
            top: -200px;

            .opening-hour {

                ul {

                    li {
                        padding: 0;

                        .btn {
                            width: 130px;
                            margin: 5px 0;
                        }

                        &+li {
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 767px) {
    .no-padding-custom {
        padding: 0 !important;
    }

    .header {

        &.page-header-all {

            .navbar {

                &.navbar-default {

                    .navbar-header {
                    }
                }
            }
        }
    }

    // home Banner
    .banner {

        .slider-item {
            background-position: 80% 50% !important;
            position: relative;

            &:before {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: rgba(0,0,0,.4);
            }

            .banner-info {
                margin-left: auto;
                margin-right: auto;
                text-align: center;

                h2 {
                    font-size: 38px;
                    line-height: 47px;
                    letter-spacing: 0.28px;
                }
            }
        }

        .slick-dots {
            bottom: 70px !important;

            li {
                display: inline-block;
                margin: 0 10px;
            }
        }
    }

    .committed {

        .content {
            max-width: 100%;

            h1 {
                max-width: 100%;
                font-size: 60px;
                line-height: 65px;
            }
        }
    }

    .latest-post {
        padding-bottom: 0;
    }

    // Post
    .post {
        margin: 0 0 30px;
    }

    .blog-page {

        .featured-post-area {

            .featured-post {

                .post {
                    flex-direction: column-reverse;

                    .post-meta {
                        width: 100%;
                        max-width: 100%;
                        margin-right: auto;
                        padding: 30px 25px;
                        padding-bottom: 0;
                    }

                    .post-img {
                        width: 100%;

                        .media {
                            border-top-right-radius: 24px;
                            border-top-left-radius: 24px;
                            border-bottom-left-radius: 0;
                            border-bottom-right-radius: 0;
                        }
                    }
                }

                .slick-dots {
                    bottom: -6%;
                }
            }
        }
    }

    .blog-single {
        padding-bottom: 10px;

        .author {
            margin: 0 0 30px;
        }

        .share {

            .st-right#st-1 {
                text-align: center !important;
            }
        }
    }

    // Gaming room
    .game-room {

        .booking-form {

            &:before {
                left: 0;
                background-size: cover !important;
                background-position: center center;
            }

            h4 {
                margin: 0 auto;
                width: 395px;
            }

            .form {

                .gform_wrapper {
                    margin: 0 auto;
                    padding: 0 20px;
                }
            }
        }
    }
    
    .footer {

        .footer-bottom {


            .quick-contact {
                margin-left: -15px;
            }

            .footer-menu {

                .nav.navbar-nav {

                    li {

                        a {
                            padding-left: 15px;
                        }
                    }
                }
            }
        }
    }

    .contact {
        padding-bottom: 70px;

        .tour-info {
            margin: 35px 0 0;
        }
        &.contact-page {

            .quick-contact {
                margin: 0 0 30px;
            }

            .contact-form {
                padding: 40px 0 0;

                &:before {
                    width: 100%;
                    height: 5px;
                    background-size: 8px 5px;
                    background-repeat: repeat-x;
                }
            }
        }
    }

    // who we are
    .about-us {
        padding: 0 0 0;

        .tab-content {
            padding-left: 0;

            &:before {
                border: 0;
                width: 0;
            }

            .top-text {
                margin: 45px 0 0;

                &.mission {

                    h2 {
                        margin-bottom: 15px;
                    }
                }
            }
        }

        &.experience {

            .top-text {

                h2 {
                    font-size: 36px;
                    line-height: 40px;
                }
            }

            .media {

                img {
                    border-radius: 0;
                    margin-bottom: 45px;
                }
            }
        }
    }

    .centers {

        .tab-content {

            .center {
                margin-right: -15px;
                margin-left: -15px;

                .center-info {
                    display: inherit;
                    height: inherit;

                    li {
                        width: 100%;

                        &+li:before {
                            background-repeat: repeat-x;
                            background-size: 3px 5px;
                            height: 0px;
                            width: 100%;
                            background: unset;
                            border: 1px dashed #ffffff;
                        }

                        &.opening-hour {
                            margin: 40px 0 0;
                            padding: 5px 0 0;

                            .permalink, .opening {
                                flex-grow: 1;
                            }

                            .permalink {

                                a {
                                    display: block;
                                    margin-left: auto;
                                }
                            }

                            .opening {
                                padding-left: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .info-page {

        .tab-content {

            .subsidy {

                .top-text {
                    margin: 45px 0 0;
                }

                &.sheets {

                    .sheet {

                        .btn {
                            float: none;
                            margin: 25px 0 0;
                        }

                        .download-btn {

                            .file-size {
                                text-align: left;
                            }
                        }
                    }
                }
            }

            .info-for-you {
                margin: 30px 0 0;
            }
        }
    }

    // single centre
    .centers-single {

        .centre-wrap {

            .centre-tabs {

                .tab-content {

                    .overview {

                        .testimonials-wrapper {

                            .testimonials {

                                .testimonial {
                                    width: 100%;

                                    &+.testimonial {
                                        margin: 30px 0 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 700px) {

    .centers-single {

        .centre-wrap {

            .centre-tabs {

                .nav {

                    &.nav-tabs {

                        li {

                            a {
                                margin-bottom: 15px;
                            }
                        }
                    }
                }
            }
        }
    }

    .footer {

        .footer-top {

            .col {
                width: 100%;
            }

            .footer-logo {

                img {
                    margin: 0 auto;
                }
            }

            .copy-right {

                &.text-right {
                    text-align: center;

                    p {
                        line-height: 30px;
                        margin: 0 0 30px;
                    }
                }
            }
        }

        .footer-bottom {
            margin-left: 0;

            .col {
                width: 100% !important;
            }

            .call-us {

                .quick-contact {

                    p {
                        width: 100%;
                        margin: 0;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 640px) {
    .contact-form {

        .gform_wrapper {

            .gform_body {

                .gform_fields {

                    .gfield {

                        &.gf_left_half {
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 575px) {
    .col {
        width: 100% !important;
    }

    // home Banner
    .banner {

        .slider-item {
            background-position: 75% 50% !important;

            .banner-info {

                .btn {
                    margin-bottom: 10px;
                }
            }
        }
    }

    .page-banner {
        height: 265px;

        .page-banner-info {
            text-align: center;

            h2 {
                font-size: 38px;
                line-height: 47px;
                letter-spacing: 0.28px;
            }

            p {
                font-size: 15px;
                letter-spacing: 0.19px;
            }
        }
    }

    #search-button-mobile {
        top: 18px;
        right: 80px;
    }

    #search-box {
        top: 58px;
    }

    .committed {

        .content {

            h1{
                font-size: 50px;
                line-height: 55px;
            }
        }
    }

    .centers {
        padding-top: 0;

        .nav {

            &.nav-tabs {

                li {
                    padding: 0;
                    margin: 0;
                    width: 50%;

                    a {
                        width: 100%;
                        margin: 0;
                        border-radius: 0;
                    }
                }
            }
        }

        .tab-content {

            .center {

                .center-info {
                    padding: 30px 20px;

                    li {

                        &.opening-hour {
                            align-items: flex-start;
                            flex-direction: column-reverse;

                            .permalink, .opening {
                                width: 100%;
                            }

                            .permalink {
                                display: inherit !important;

                                a {
                                    margin: 30px 0 0;
                                    margin-right: 5px;

                                    &:last-child {
                                        margin-right: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .centers-single {

        .title {
            margin: 25px 0 20px;

            ul {
                flex-wrap: wrap;

                li.social-media {
                    margin: 10px 0 0;
                }
            }
        }
    }

    // who we are
    .about-us {

        .tab-content {

            .mission {

                ul {
                    display: inherit;
                    margin: 0 0 45px;

                    li {
                        padding: 0;
                        width: 100%;

                        img {
                            width: 100%;
                            border-radius: 0;
                        }
                    }
                }
            }
        }
    }

    .info-page {

        .tab-content {

            .subsidy {

                .subsidy-content {

                    ul {
                        display: inherit;
                        margin: 0 0 45px;

                        li {
                            padding: 15px 0 0 !important;
                            width: 100%;

                            img {
                                width: 100%;
                                border-radius: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .people {

        .top-text {

            h2 {
                font-size: 36px;
                line-height: 40px;
            }
        }

        .team-member {
                
            .title{
                margin: 15px 0 0;
            }

            .media {

                &.pull-left {
                    float: none !important;
                }
            }
        }
    }

    .single-centre {

        .latest-post {
            padding: 60px 0 0;
        }
    }

    .blog-single {

        .environment {

            ul {
                margin: 20px 0;

                li {
                    padding: 0;
                    margin: 10px 0;
                    width: 100%;

                    img {
                        width: 100%;
                        border-radius:0;
                    }
                }
            }
        }
    }

    .related-post {
        padding: 70px 0;
    }
}

@media only screen and (max-width: 500px) {
    .contact-form {

        .gform_wrapper {

            .gform_body {

                .gform_fields {

                    .gfield {

                        .ginput_container {

                            .gfield_radio {

                                li {

                                    label {

                                        &:before {
                                            top: 8px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 480px) {
    .col-480 {
        width: 100%;
    }
    ul.nav-tabs.nav.visible-xs.sticky {
        top: 66px;
    }
    .header {

        .navbar {
            padding: 10px 0;

            &.navbar-default {

                .navbar-header {

                    .social {
                        right: 48px;
                        z-index: 99999;
                    }

                    .navbar-brand {
                        transform: translateY(4px);

                        img {
                            max-width: 70% !important;
                        }
                    }
                }
            }
        }

        &.sticky {

            .navbar {

                &.navbar-default {
                    padding: 8px 0;

                    .navbar-header {

                        .navbar-brand {
                            transform: translateY(10px);

                            img {
                                max-width: 50% !important;
                            }
                        }
                    }
                }
            }
        }
    }

    .sidr {
        padding: 70px 0 0;

        &.sidr-sticky {
            padding: 66px 0 0;
        }
    }
}